%li
  = link_to t('spina.profiles.admin.hooks.profile.settings_secondary_navigation.title'), spina.edit_admin_setup_path(Spina::Setup.instance), class: 'block p-3 leading-none text-white hover:opacity-100 transition-opacity font-semibold opacity-50'
